h1 {
    color: hotpink;
    font-family: "comic sans ms";
    font-size: 430%;
    text-align: center;
    border-radius: 45px;
}

body {
	background-image: url("mug.jpg");
    font-size: 100%;
}

p {
    color: white;
    font-family: "comic sans ms";
    font-size: 300%;
    text-align: center;
}