h1 {
    color: hotpink;
    font-family: "comic sans ms";
    font-size: 430%;
    text-align: center;
}

body {
	background-image: url("pic3.jpg");
    font-size: 100%;
}

p {
    color: white;
    font-family: "comic sans ms";
    font-size: 300%;
    text-align: center;
}