h1 {
    color: white;
    font-family: "comic sans ms";
    font-size: 430%;
    text-align: center;
}

body {
	background-image: url("mug.jpg");
    font-size: 100%;
}

.index {
    text-align: left;
    color: white;
    font-family: "comic sans ms";
    font-size: 200%;
}

.p1 {
    text-align: center;
    color: blue;
}

